[build]
  publish = "dist"
  command = "npm run build"

[context.production.environment]
  NODE_ENV = "production"

[headers]
  [[headers]]
  for = "/*"
  [headers.values]
  X-Frame-Options = "DENY"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "no-referrer-when-downgrade"
